<!-- <div class="container">
  <table id="table" class="table mt-3">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">MaidenName</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Mail</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
     <tbody >
      <tr *ngFor="let users of result">
        <td>{{users.id}}</td>
        <td>{{users.firstName}}</td>
        <td>{{users.lastName}}</td>
        <td>{{users.maidenName}}</td>
        <td>{{users.age}}</td>
        <td>{{users.gender}}</td>
        <td>{{users.email}}</td>
        <td><img style="width: 50px; height: 50px;"[src]="users.image" alt=""></td>
  
      </tr>
     </tbody>
        
    </table>
</div> -->


<div>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">MaidenName</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Mail</th>
        <th scope="col">Image</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let users of result" >
      <td>{{users.id}}</td>
      <td>{{users.firstName}}</td>
      <td>{{users.lastName}}</td>
      <td>{{users.maidenName}}</td>
      <td>{{users.age}}</td>
      <td>{{users.gender}}</td>
      <td>{{users.email}}</td>
      <td><img style="height: 50px; width: 50px;" [src]="users.image" alt=""></td>

      </tr>
    </tbody>
  </table>
</div>